// Variables de color de LukaLibre
$verde-luka: #3A6351;
$verde-nube: #D5E5D9;
$negro-callado: #222222;
$amarillo-caleta: #FFC857;
$blanco-panraza: #F9F9F9;

// Sobrescribir variables del tema
$body-background-color: $blanco-panraza;
$sidebar-color: $verde-nube;
$text-color: $negro-callado;
$body-text-color: $negro-callado;
$body-heading-color: $verde-luka;
$nav-child-link-color: $negro-callado;
$link-color: $verde-luka;
$btn-primary-color: $verde-luka;
$base-button-color: $verde-luka;
$search-background-color: $blanco-panraza;
$search-result-preview-color: $negro-callado;
$border-color: $verde-nube; 